@model FindMyAdvisor.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Users"))
{
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 well well-lg" style="background-color: rgba(245,245,245,.8)">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Password)
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-form-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-form-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-form-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div style="text-align:left;">
                        @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-default pull-right" })
                        <input type="submit" value="Save" class="btn orange" />
                    </div>
                </div>
            </div>
        </div>
}